.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: $header-height;
  height: $header-height;
  background-color: $color-secondary-lightest;
  font-weight: bold;
  padding: 0 $length-xxl;
  color: $color-secondary-darkest;
  z-index: 90;

  & li {
    &:global(.active) {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: $color-primary-light;
        height: $length-xxs;
        border-radius: $border-radius-s;
      }
    }
  }

  & a {
    white-space: nowrap;
  }

  & .headerCTAButton {
    height: fit-content;
    padding: $length-xs $length-l;
    color: $color-secondary-darkest;
  }
}

.inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: $container-width;
  height: 100%;

  &--visitor {
    & > * {
      flex: 1;
    }

    & .offScreen {
      position: relative;

      &__inner {
        display: flex;
        align-items: center;

        & > * {
          flex: 1;
        }
      }
    }
  }
}

.centerNav {
  position: absolute;
  justify-content: center;
  transform: translateX(-50%);

  & > * {
    &:first-child {
      margin-left: 0;
    }
  }
}

.col {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & > * {
    margin-left: $spacing-xxs;
  }
}

.menuButton {
  position: absolute;
  right: -$length-xs;
  display: none;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & > * {
    margin-left: $spacing-xxs;
  }
}

.homeLink {
  display: flex;
  align-items: center;
  height: 100%;

  & a {
    display: flex;
    color: $color-primary;
  }

  & svg {
    height: $length-xl;
    margin-top: 2px;
  }
}

.notificationButton {
  --button-color: #{$color-secondary-lighter} !important;
}

@media (max-width: $breakpoint-l) {
  .header {
    padding: 0 $length-l;
  }

  .inner {
    & .offScreen {
      position: fixed;
      left: 0;
      top: $header-height;
      width: 100vw;
      height: 100vh;
      background-color: rgba($color: $color-secondary-darkest, $alpha: 0.7);
      transition: transform $transition-duration $transition-easing;
      transform: translateX(100vw);

      &__inner {
        display: flex;
        flex-direction: column;
        padding: $spacing-xxs $length-l;
        background-color: $color-secondary-lightest;
      }

      &--open {
        transform: translateX(0);
      }

      & .centerNav {
        position: static;
        flex-direction: column;
        margin-bottom: $spacing-xxs;
        transform: translateX(0);

        & > * {
          margin-left: 0;

          &:not(:last-child) {
            margin-bottom: $length-xl;
          }
        }
      }
    }
  }

  .menuButton {
    display: flex;
  }

  .headerCTAButton {
    margin-left: 0;
  }

  .right {
    flex-direction: column;
    justify-content: center;

    & > * {
      margin-left: 0;
    }
  }

  .loggedInNav {
    flex-direction: column;
    margin-bottom: $spacing-xxs;

    & > * {
      margin-left: 0;

      &:not(:last-child) {
        margin-bottom: $length-xl;
      }
    }
  }
}
