.container {
  position: relative;
  height: fit-content;
}

.toggleButton {
  --button-color: transparent;
  color: $color-primary-light;
  height: fit-content;
  color: $color-white;
  padding: $length-xs $length-l;
  border-radius: $border-radius;

  &:focus {
    box-shadow: 0 0 0 $focus-border-width $color-secondary-dark;
  }

  & > span {
    max-width: $spacing-xl;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--open {
    box-shadow: 0 0 0 $focus-border-width $color-secondary-dark;
  }
}

.menu {
  position: absolute;
  right: 0;
  top: calc(100% + #{$focus-border-width});
  display: none;
  padding: 0 $length-s;
  background-color: $color-secondary-darker;
  border-radius: $border-radius;
  z-index: 10;
  box-shadow: 0 0 0 $focus-border-width $color-secondary-dark;

  &--open {
    display: flex;
    flex-direction: column;
  }

  & li {
    &:not(:last-child) {
      & > * {
        border-bottom: 2px solid $color-secondary-dark;
      }
    }
  }

  & a,
  & button {
    display: block;
    padding: $length-s 0;
    width: 100%;
    text-align: left;
    color: $color-white;
    cursor: pointer;
  }
}
