.placeholder {
  text-align: center;
  font-size: $font-size-m;
}

.addButton {
  display: flex;
  justify-content: center;
}

.pollSettings {
  padding-left: $length-s;
  margin-top: -$length-xl - $length-s;
  max-height: calc(100% + #{$length-xl} + #{$length-s});
  overflow-y: auto;
  padding-right: $length-s;
  border-left: 2px solid $color-secondary-lighter;
}

.label {
  display: block;
  font-weight: bold;
  color: $color-secondary-dark;
  margin-bottom: $length-xs;
}

.optionList {
  margin-bottom: $length-l;

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: $length-s;
    }
  }

  &__bullet {
    font-weight: bold;
    color: $color-secondary-dark;
    margin-right: $length-s;
    width: $length-s;
    text-align: right;
  }

  &__input {
    flex: 3;
  }

  &__percentage {
    flex: 1;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: $length-xs;
    font-weight: bold;
    color: $color-secondary-dark;
    border-radius: $border-radius;

    &--highest {
      color: $color-secondary-darkest;
      background-color: $color-primary-light;
    }
  }
}

button.optionList {
  &__deleteButton {
    align-self: stretch;

    @include focus(
      var(--button-focus-color, $color-primary-light),
      var(--button-background-color, $color-white),
      var(--button-radius),
      true,
      null,
      true
    );
  }
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: $length-xl;
  height: $input-min-height;
  margin-bottom: $length-l;

  & > button {
    flex: 1;
    width: 100%;
    min-height: 0;
    height: 100%;

    @include focus(
      var(--button-focus-color, $color-primary-light),
      var(--button-background-color, $color-white),
      var(--button-radius)
    );

    &:not(:last-child) {
      margin-right: $length-s;
    }
  }
}

@media (max-width: $breakpoint-m) {
  .pollSettings {
    position: relative;
    margin-top: 0;
    padding-top: $length-l;
    border-left: none;
    border-top: 2px solid $color-secondary-lighter;
  }
}
