.container {
  display: flex;
  align-items: center;
  background-color: $color-secondary-lightest;
  border-radius: $border-radius-l;
  padding: $length-m $length-xl;
  font-size: $font-size-m;
  min-height: 5.25rem;

  &--cards {
    flex-direction: column;
    padding: $spacing-xxs;
    min-height: 20rem;

    & .showName {
      margin-bottom: $length-s;
      text-align: center;
    }

    & .middle {
      margin: 0;
      margin-bottom: $spacing-xxs;
    }

    & .actions {
      flex-direction: column;

      & > * {
        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: $length-l;
        }
      }
    }
  }
}

.showName {
  flex: 1;
  font-size: $font-size-l;
  font-weight: bold;
}

.middle {
  font-weight: bold;
  color: $color-secondary-dark;
  margin: 0 $length-xl;
  text-align: center;
}

.actions {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & > * {
    &:not(:last-child) {
      margin-right: $length-xl;
    }
  }
}

.watching {
  display: flex;
  align-items: flex-start;
  color: $color-secondary-dark;
  font-weight: bold;

  &__icon {
    margin-right: $length-xs;
  }
}

.calendarModal {
  text-align: center;
  margin-top: $spacing-xxs;

  & ul {
    & li {
      &:not(:last-child) {
        margin-bottom: $length-xl;
      }
    }
  }

  & button {
    margin-top: $spacing-xxs;
  }
}

@media (max-width: $breakpoint-l) {
  .container {
    flex-direction: column;
    padding: $length-xxl $length-l;

    &--cards {
      min-height: 0;

      & .showName {
        margin-bottom: 0;
      }
    }

    &--inDashboard {
      & .showName {
        margin-bottom: $length-xxl;
      }
    }
  }

  .middle {
    margin-bottom: $length-xxl;
  }

  .mobileBottom {
    display: flex;
    align-items: center;
    margin-top: $length-xxl;
    width: $max-mobile-button-width;
    max-width: 100%;

    & > * {
      flex: 1;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: $length-xs;
  }

  .date {
    margin-bottom: $length-s;
    font-weight: bold;
    color: $color-secondary-dark;
    text-align: center;

    &__hour {
      font-weight: normal;
    }
  }

  .mobileButton {
    min-height: 0;
    height: fit-content;
    width: 100%;
    padding: $length-s;
    margin-left: $length-xs;
  }
}
