.container {
  display: flex;
  align-items: center;
  background-color: $color-secondary-lightest;
  border-radius: $border-radius-l;
  padding: $length-m $length-xl;
  font-size: $font-size-m;
  min-height: 5.25rem;

  &--cards {
    flex-direction: column;
    padding: $spacing-xxs;
    min-height: 20rem;

    & .showName {
      margin-bottom: $length-s;
      text-align: center;
    }

    & .middle {
      margin: 0;
      margin-bottom: $spacing-xxs;
    }

    & .actions {
      flex-direction: column;

      & > * {
        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: $length-l;
        }
      }
    }
  }
}

.showName {
  flex: 1;
  font-size: $font-size-l;
  font-weight: bold;
}

.middle {
  font-weight: bold;
  color: $color-secondary-dark;
  margin: 0 $length-xl;
}

.actions {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & > * {
    &:not(:last-child) {
      margin-right: $length-xl;
    }
  }
}

.watching {
  display: flex;
  align-items: flex-end;
  color: $color-secondary-dark;
  font-weight: bold;

  &__icon {
    margin-right: $length-xs;
  }
}
