.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $container-width;
}

.listHeaderContainer {
  display: flex;
  width: 100%;
}

.listHeader {
  flex: 1;
  font-size: $font-size-l;
  color: $color-secondary-dark;
  font-weight: bold;
  text-align: center;
  margin-bottom: $length-xxl;

  &--home {
    flex: 1;
    text-align: center;
    font-size: $font-size-xl;
    margin-bottom: $spacing-xxs;
  }
}

.showList {
  display: flex;
  flex-direction: column;
  margin-bottom: $length-xxl;
  width: 100%;

  & > * {
    &:not(:last-child) {
      margin-bottom: $length-m;
    }
  }

  &--cards {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    flex-direction: row;

    & > * {
      flex: 1;

      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: $length-l;
      }
    }
  }
}

.browseAllLink {
  color: $color-secondary-darker;
}
