.container {
  display: flex;
  align-items: center;
  background-color: $color-secondary-lightest;
  border-radius: $border-radius-l;
  padding: $length-m $length-xl;
  font-size: $font-size-m;
}

.showName {
  flex: 1;
  font-size: $font-size-l;
  font-weight: bold;
}

.middle {
  font-weight: bold;
  color: $color-secondary-dark;
}

.actions {
  flex: 1;
  display: flex;
  justify-content: flex-end;

  & > * {
    margin-right: $length-xl;

    &:last-child {
      margin-right: 0;
    }
  }
}
