$column-width: 20vw;

.page {
  display: flex;
  flex-direction: column;
  height: $min-main-height;
  padding-top: $length-xxl;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $length-xxl;
  width: $container-width-xl;
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: $breakpoint-l) {
  .page {
    height: unset;
  }

  .top {
    flex-direction: column;
    padding: 0 $length-l;
    padding-top: $spacing-xxs;
  }

  .title {
    margin-bottom: $length-xxl;
  }
}
