$column-width: 20vw;

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: $length-xxl;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $length-xxl;
  width: $container-width-xl;
  max-width: 100%;
  margin: 0 auto;
}
