.tooltip {
  display: inline;
  padding-top: 0.25em;
}

.info {
  width: $length-m;
  height: $length-m;
  opacity: 0.5;
  user-select: none;
  margin-bottom: -0.2em;

  &:hover {
    color: $color-primary-light;
    opacity: 1;
  }
}
