.tooltip {
  display: inline;
}

.info {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: $length-m;
  height: $length-m;
  border: 2px solid $color-secondary-dark;
  padding-top: $length-xxs;
  border-radius: 50%;
  opacity: 0.5;
  user-select: none;

  &:hover {
    border-color: $color-primary-light;
    color: $color-primary-light;
    opacity: 1;
  }
}
