.container {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: $length-xl;
  padding: $length-xxl;
  margin: 0 auto;
  max-width: 100%;
  width: $container-width-xl;

  & > * {
    display: grid;
    gap: $length-xl;
    grid-template-rows: repeat(2, 1fr);
  }
}
