.panelContainer {
  display: flex;
  font-size: $font-size-s;

  & > * {
    flex: 1;
  }
}

.placeholder {
  margin-bottom: $length-s;
}

.pollList {
  padding-right: $length-s;
  overflow-y: auto;

  &__item {
    width: 100%;
    padding: $length-s;
    color: $color-secondary-darkest;
    background-color: $color-white;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: $border-radius;
    margin-bottom: $length-s;

    &--active {
      background-color: $color-primary-light;
      cursor: default;
    }
  }

  &__visibleIcon {
    vertical-align: text-bottom;
    margin-left: $length-xs;
  }
}

.addButton {
  display: flex;
  justify-content: center;
}

@media (max-width: $breakpoint-m) {
  .panelContainer {
    flex-direction: column;
    padding: 0;
  }

  .pollList {
    padding-left: $length-s;
    padding-right: $length-s;
    padding-bottom: $length-s;
  }
}
