.previewContainer {
  --button-background-color: #{$color-secondary-darkest};

  position: relative;
  width: 100%;
  height: 100%;
  background-color: $color-secondary-darkest;
  color: $color-secondary-lightest;
}

@media (max-width: $breakpoint-xl) {
  .previewContainer {
    &--performance {
      height: $stream-height-mobile-in-panel;
    }
  }
}

@media (max-width: $breakpoint-l) {
  .previewContainer {
    height: $stream-height-mobile-in-panel;
  }
}
