.childContainer {
  @include focus(
    $color-primary-light,
    var(--input-focus-background-color, $color-white),
    $border-radius-s,
    true,
    null
  );
}

.tooltip {
  background-color: $color-white;
  border-radius: $border-radius;
  padding: $length-s;
  font-size: $font-size-s;
  border: 2px solid $color-primary-light;
  font-weight: bold;
  color: $color-secondary-darkest;
  max-width: 90vw !important;

  &__arrow {
    padding-right: $length-xxs;
    height: $length-xs;

    & path {
      fill: $color-primary-light;
    }
  }
}
