.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  max-height: 100%;
}

.chatHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-secondary-lightest;
  background-color: $color-secondary-dark;
  padding: $length-l;

  &__title {
    margin-right: $length-xs;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__actions {
    display: flex;

    & > * {
      white-space: nowrap;
    }
  }

  &__makeRoom {
    z-index: 11;
  }

  &__usersButton {
    display: flex;
    align-items: flex-start;
    margin-left: $length-xs;
  }

  &__userIcon {
    margin-right: $length-xxs;
  }
}

.content {
  flex: 1;
  width: 100%;
  overflow: auto;
  padding: $length-l/2;
  padding-bottom: 0;

  &--inDashboard {
    padding: 0;
  }
}

.chatForm {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__input {
    margin-bottom: $length-xs;
  }

  &__sendButton {
    font-size: $font-size-m;
    padding: $length-xs $length-m;
    min-height: $input-min-height;
    width: fit-content;
    align-self: flex-end;
  }
}
