.fieldset {
  display: flex;
  flex-direction: column;
  margin-top: $length-l;

  &--inDashboard {
    flex-direction: row;
    align-items: flex-end;

    & .input {
      margin-bottom: 0;
    }
  }

  &--songRequest {
    margin-top: calc(#{$length-l} + 1em + #{$length-xs});

    & label {
      width: max-content;
      margin-top: calc(-1em - #{$length-xs});
    }
  }
}

.songRequestHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $length-m;
}

.songRequestCloseButton {
  margin-right: -$length-xs;
}

.input {
  flex: 1;
  min-width: 0;
  margin-bottom: $length-s;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-right: $length-xs;
  }
}

.requestButton {
  color: $color-secondary-lighter;
  font-size: $font-size-s;
  text-align: left;
  height: $input-min-height;
}

.settingsButton {
  --button-color: transparent;
  color: $color-secondary-dark;
}

.sendButton {
  height: $input-min-height;
  min-height: 0;
  border-radius: $border-radius;
  padding: 0 $length-xl;
  width: fit-content;
  color: $color-secondary-darkest;
}
