.chatMessage {
  position: relative;
  flex-shrink: 0;
  position: relative;
  font-size: $font-size-s;
  line-height: $line-height-s;
  padding: 0.5em $length-l / 2;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba($color: $color-secondary-dark, $alpha: 0);
  }

  &:hover {
    cursor: default;

    // &::before {
    //   background-color: rgba($color: $color-secondary-dark, $alpha: 0.5);
    // }
  }

  &--open {
    z-index: 6;
  }

  &__user {
    cursor: pointer;
  }

  &__actionMenu {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 0.5em $length-l / 2;
    background-color: $color-secondary-dark;
    z-index: 6;
    border-radius: $border-radius;

    &--inDashboard {
      background-color: $color-secondary-lighter;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    margin-top: $length-xxs;
  }

  &__closeActionsButton {
    position: absolute;
    top: 0.25em;
    right: calc((#{$length-l} / 2) - 0.25em);
    padding: 0.25em;
    min-height: 0;
    fill: currentColor;
  }

  &__inviteButton {
    display: inline;
    max-width: 100%;
    height: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color-secondary-darkest;
    background-color: $color-primary-light;
    margin-right: $length-s;
  }
}
