.chatMessage {
  flex-shrink: 0;
  position: relative;
  font-size: $font-size-s;
  line-height: $line-height-s;
  padding: 0.5em $length-l / 2;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba($color: $color-secondary-dark, $alpha: 0);
  }

  &:hover {
    cursor: default;

    &::before {
      background-color: rgba($color: $color-secondary-dark, $alpha: 0.5);
    }
  }
}
