.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $color-secondary-darker;
  z-index: 10;
  padding: $length-l;
  max-height: calc(100vh - 23.25rem);
  overflow-y: auto;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $length-l;
}

.closeButton {
  min-height: 0;
  margin-right: -$length-xs;
}

.form {
  display: flex;
  align-items: flex-end;
}

.inputContainer {
  width: 100%;
  min-width: 0;

  & > * {
    &:first-child {
      padding-top: $length-l;
    }
  }
}

.saveButton {
  height: $input-min-height;
  min-height: 0;
  border-radius: $border-radius;
  padding: 0 $length-xl;
  width: fit-content;
  color: $color-secondary-darkest;
  margin-top: $length-l;
}

.participantsList {
  &--paddingTop {
    margin-top: $length-xxl;
  }
}

.participantsLabel {
  margin-bottom: $length-m;
  color: $color-secondary-dark;
}

.deleteButton {
  margin-top: $length-xxl;
  color: $color-danger;
}

@media (max-width: $breakpoint-l) {
  .container {
    position: fixed;
    top: $stream-height-mobile;
    height: calc(100vh - #{$stream-height-mobile});
    max-height: calc(100vh - #{$stream-height-mobile});
  }
}
