.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: auto;
  background-color: $color-secondary-darkest;
  max-width: 400px;
  width: 23vw;
  min-width: 300px;
  color: $color-secondary-lightest;
  resize: horizontal;
}

.requests {
  height: 167px;
  background-color: $color-secondary-dark;
  margin-bottom: $length-xs;
}

.chats {
  flex: 1;
  padding: $length-l/2;
  overflow: hidden;
}

.bottom {
  padding: $length-l;
  padding-top: 0;
}
