.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  max-height: 100%;
}

.loadingContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  z-index: 11;
  background-color: $color-loading-overlay;
}

.chatHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-secondary-lightest;
  background-color: $color-secondary-darker;
  padding: $length-l;

  &__titleButton {
    padding: 0;
  }

  &__title {
    position: relative;
    margin-right: $length-xs;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &--withList {
      cursor: pointer;
      padding-right: $length-xl;
    }
  }

  &__titleIcon {
    position: absolute;
    right: 0;

    transition: transform $transition-duration $transition-easing;

    &--open {
      transform: rotate(180deg);
    }
  }

  &__chatroomList {
    // position: absolute;
    // top: 100%;
    position: sticky;
    top: -$length-l/2;
    // left: $length-l/2;
    margin-top: -$length-l/2;
    background-color: $color-secondary-darker;
    z-index: 8;
    border-radius: 0 0 $border-radius $border-radius;
  }

  &__chatroomListItem {
    border-radius: $border-radius;

    & button {
      justify-content: flex-start;
      width: 100%;
      padding: $length-l/2;
      cursor: pointer;
      text-align: left;
    }

    &:hover {
      background-color: $color-secondary-dark;
      color: $color-white;

      & button {
        filter: opacity(1);
      }
    }

    &--disabled {
      &:hover {
        background-color: transparent;
        color: inherit;
      }
    }
  }

  &__actions {
    display: flex;

    & > * {
      white-space: nowrap;
    }
  }

  &__makeRoom {
    z-index: 11;
  }

  &__usersButton {
    display: flex;
    align-items: flex-start;
    margin-left: $length-xs;
  }

  &__userIcon {
    margin-right: $length-xxs;
  }
}

.content {
  position: relative;
  flex: 1;
  width: 100%;
  overflow: auto;
  padding: $length-l/2;
  padding-bottom: 0;

  &--inDashboard {
    padding: 0;
  }
}

.settingsButton {
  position: sticky;
  top: 0;
  left: 100%;
  --button-color: transparent;
  color: $color-secondary-dark;
  background-color: $color-secondary-darkest;
  z-index: 2;
  opacity: 0.6;

  &:hover {
    opacity: 1;
    filter: opacity(1);
    background-color: $color-secondary-darkest;
  }
}

.chatForm {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__input {
    margin-bottom: $length-xs;
  }

  &__sendButton {
    font-size: $font-size-m;
    padding: $length-xs $length-m;
    min-height: $input-min-height;
    width: fit-content;
    align-self: flex-end;
  }
}
