.pageTitleRoomStage {
  color: $color-primary;
}

.formTitle {
  font-size: $font-size-l;
  margin-bottom: $length-xxl;
  color: $color-secondary-darker;
}

.fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding: 0 $length-l;
}

.storageInfo {
  text-align: center;
  font-size: $font-size-s;
  width: $input-width;
  max-width: 100%;
  color: $color-secondary-darkest;
  margin-top: $length-xl;

  & a {
    font-weight: bold;
  }
}

.submitButton {
  margin-top: $spacing-m;
}

.authSwitch {
  display: flex;
  font-size: $font-size-s;
  margin-top: $length-xxl;

  & a {
    font-size: $font-size-s;
  }
}

@media (max-width: $breakpoint-l) {
  .submitButton {
    margin-top: $spacing-xxs;
  }
}
