.container {
  --button-background-color: #{$color-secondary-lightest};

  height: $footer-height;
  background-color: $color-secondary-lightest;
  color: $color-secondary-darkest;
}

.content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: $spacing-xxs 0;

  & > * {
    flex: 1;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: $length-xl;
}

.logo {
  width: $spacing-xl;
  max-width: 100%;
  color: $color-primary;
  margin-bottom: $length-m;
}

.about {
  font-size: $font-size-s;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: $length-xl;

  & li {
    &:global(.active) {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: $color-primary-light;
        height: $length-xxs;
        border-radius: $border-radius-s;
      }
    }
  }

  & > * {
    &:not(:last-child) {
      margin-right: $spacing-xxs;
    }
  }
}

@media (max-width: $breakpoint-l) {
  .container {
    height: $footer-height-mobile;
  }

  .content {
    flex-direction: column-reverse;
    justify-content: center;

    & > * {
      flex: unset;
    }
  }

  .info {
    margin: 0;
    align-items: center;
    padding-top: $spacing-xxs;
  }

  .about {
    text-align: center;
  }

  .navigation {
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    padding-bottom: $spacing-xxs;

    & > * {
      text-align: center;

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: $length-xl;
      }
    }

    &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      bottom: 0;
      background-color: $color-secondary-lighter;
    }
  }
}
