.userListContainer {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: calc(100vh - 27.5rem);
  overflow: auto;
  padding: $length-l;
  padding-top: 0;
  background-color: var(--participants-button-tertiary-color);

  &--inDashboard {
    border-radius: $border-radius;
  }

  &--inChatroom {
    --participants-button-secondary-color: #{$color-secondary-darkest};
    position: initial;
    padding: 0 $length-l;
    max-height: 16vh;
    margin-left: -$length-l;
    width: calc(100% + #{2 * $length-l});
  }
}

button.closeButton {
  margin-left: auto;
  min-height: 0;
  margin-bottom: $length-xs;
  margin-right: -$length-xs;

  @include focus(
    var(--button-focus-color, $color-primary-light),
    var(--button-background-color, $color-white),
    var(--button-radius),
    true,
    null,
    true
  );
}

.userList {
  font-size: $font-size-s;
  font-weight: bold;
}

.userObject {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: $input-min-height;
  padding: $length-xxs $length-s;
  background-color: var(--participants-button-secondary-color);
  border-radius: $border-radius;

  &:not(:last-child) {
    margin-bottom: $length-xs;
  }
}

.actionButtons {
  display: flex;
  align-items: center;
  height: 100%;
}

button.actionButton {
  padding: $length-xxs;
  min-height: 0;
  height: 100%;

  @include focus(
    var(--button-focus-color, $color-primary-light),
    var(--button-background-color, $color-white),
    var(--button-radius),
    true,
    null,
    true
  );
}

.inviteMenu {
  position: absolute;
  right: 0;
  display: none;
  align-items: center;
  height: 100%;
  background-color: var(--participants-button-tertiary-color);
  padding-left: $length-xs;
  margin-right: -$length-xs;
  color: $color-secondary-darkest;

  &--show {
    display: flex;
  }
}

@media (max-width: $breakpoint-xl) {
  .userListContainer {
    &--inDashboard {
      max-height: calc(#{$dashboardpanel-height-x-large} - 0.75rem);
    }
  }
}

@media (max-width: $breakpoint-l) {
  .userListContainer {
    &:not(.userListContainer--inChatroom):not(.userListContainer--inDashboard) {
      position: fixed;
      top: $stream-height-mobile;
      height: calc(100vh - #{$stream-height-mobile});
      max-height: calc(100vh - #{$stream-height-mobile});
      padding-top: $length-s;
    }

    &--inChatroom {
      max-height: calc(60vh - #{$spacing-xl});
    }
  }
}

@media (max-width: $breakpoint-m) {
  .userListContainer {
    &--inDashboard {
      max-height: calc(#{$dashboardpanel-height-medium} - 9.5rem);
    }
  }
}
