.page {
  display: flex;
  height: 100vh;
}

.pageError {
  flex-direction: column;
  align-items: center;

  justify-content: center;

  & > * {
    margin-bottom: $length-xxl;
  }
}

.showInfo {
  position: absolute;
}
