.container {
  display: flex;
  align-items: center;
  width: 100%;
}

.searchInputContainer {
  position: relative;
  flex: 2;

  &:after {
    content: '';
    position: absolute;
    width: 2px;
    top: $length-xxs;
    right: 0;
    bottom: $length-xxs;
    background-color: $color-secondary-lighter;
  }
}

.searchInput {
  border-radius: $border-radius 0 0 $border-radius !important;
  height: $spacing-xxs;
}

.dateInputContainer {
  flex: 1;
}

.dateInput {
  border-radius: 0 $border-radius $border-radius 0 !important;
  height: $spacing-xxs;
}

.button {
  display: flex;
  align-content: center;
  height: $spacing-xxs;
  width: $spacing-m;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: $border-radius;
  z-index: 1;
  color: $color-secondary-darkest;
}

@media (max-width: $breakpoint-m) {
  .container {
    flex-direction: column;

    & > * {
      &:not(:last-child) {
        margin-bottom: $length-s;
      }
    }
  }

  .searchInputContainer,
  .dateInputContainer {
    flex: unset;
    width: $input-width;
    max-width: 100%;

    &::after {
      display: none;
    }
  }
}
