.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.searchGroup {
  margin-bottom: $length-xxl;

  &--artistDashboard {
    margin-bottom: $spacing-m;
  }
}

.filterGroup {
  display: flex;

  & > * {
    &:not(:last-child) {
      margin-right: $length-l;
    }
  }
}

@media (max-width: $breakpoint-l) {
  .searchGroup {
    &--artistDashboard {
      margin-bottom: $spacing-xxs;
    }
  }
}

@media (max-width: $breakpoint-m) {
  .filterGroup {
    justify-content: center;
    max-width: 100%;
  }
}
