.page {
  --header-height: #{$header-height};
  --footer-height: #{$footer-height};

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  padding-bottom: $spacing-xl;
}

@media (max-width: $breakpoint-l) {
  .main {
    padding-bottom: $spacing-m;
  }
}
