.page {
  --header-height: #{$header-height};
  --footer-height: #{$footer-height};

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  padding-bottom: $spacing-xl;
  min-height: $min-main-height;
}

@media (max-width: $breakpoint-l) {
  .page {
    --footer-height: #{$footer-height-mobile};
  }

  .main {
    padding-bottom: $spacing-m;
    min-height: $min-main-height;
  }
}
