.top {
  text-align: center;

  &:not(:last-child) {
    margin-bottom: $spacing-xl;
  }

  &__title {
    margin-bottom: $spacing-xxs;
  }
}

.section {
  &:not(:last-child) {
    margin-bottom: $spacing-xl;
  }
}

@media (max-width: $breakpoint-l) {
  .top {
    &:not(:last-child) {
      margin-bottom: $spacing-m;
    }
  }
  .section {
    &:not(:last-child) {
      margin-bottom: $spacing-m;
    }
  }
}
