// .main {
//   background-color: $color-primary;
//   // background-color: blue;
//   height: 100%;
// }

// .page {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

.section {
  margin-bottom: $spacing-xl;
}

.page404 {
  padding: $spacing-xl $length-xxl;
  text-align: center;
}

.heading {
  margin-bottom: $length-xxl;
}

.info {
  margin-bottom: $spacing-m;
}
