.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding: 0 $length-l;
}

.saveButton {
  margin-top: $spacing-m;
}

.deleteButton {
  margin-top: $length-xxl;
}

@media (max-width: $breakpoint-l) {
  .saveButton {
    margin-top: $spacing-xxs;
  }
}
