.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: $length-xl;
  max-width: 100%;

  .label {
    font-size: $font-size-s;
    font-weight: bold;
    color: $color-secondary-dark;
    margin-bottom: $length-xs;

    &--noMarginBottom {
      margin-bottom: 0;
    }

    &__content {
      &--withInfo {
        margin-right: $length-s;
      }
    }
  }

  .input {
    border: none;
    padding: $length-s $length-m 0.6rem;
    font-size: $font-size-s;
    border-radius: $border-radius;
    min-height: $input-min-height;
    font-weight: bold;
    background-color: $color-secondary-lightest;
    color: $color-secondary-darkest;
    width: 100%;

    &::placeholder {
      font-weight: bold;
      opacity: $opacity-placeholder;
    }

    @include focus(
      $color-primary-light,
      var(--input-focus-background-color, $color-white)
    );

    &--dark {
      --input-focus-background-color: #{$color-secondary-darker};

      background-color: $color-secondary-darker;
      color: $color-secondary-lightest;
    }
  }

  .error {
    font-size: $font-size-s;
    color: $color-primary-dark;
    font-weight: bold;
    margin-top: $length-xs;
  }

  &--light {
    .input {
      --input-focus-background-color: #{$color-secondary-lightest};

      background-color: $color-white;
    }
  }

  &--dark {
    .input {
      background-color: $color-secondary-darker;
      color: $color-secondary-lightest;
    }
  }

  &--darkest {
    .input {
      background-color: $color-secondary-darkest;
      color: $color-secondary-lightest;
    }
  }

  &--slider {
    padding-bottom: $length-xxl;
  }

  &--defaultWidth {
    width: $input-width;
  }

  &--toggle {
    padding-top: 0;
  }

  &--noPadding {
    padding: 0;
  }

  &--noPaddingBottom {
    padding-bottom: 0;
  }
}

.sliderContainer {
  & .label {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__right {
      color: $color-primary;
      margin-left: $length-xs;
    }
  }

  & *:global(.rc-slider-handle) {
    @include focus(
      $color-primary-light,
      var(--input-focus-background-color, $color-white)
    );
  }
}

.toggleContainer {
  & .label {
    position: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  & .hiddenCheckbox {
    position: absolute;
    opacity: 0;

    &:focus,
    &:focus-visible {
      & + .checkbox {
        box-shadow: 0 0 0 $focus-border-width $color-primary-light;
      }

      &:not(:focus-visible) {
        & + .checkbox {
          box-shadow: none;
        }
      }
    }
  }

  & .checkbox {
    border-radius: $border-radius;
    background-color: $color-secondary-lightest;
    padding: $length-xxs;
    margin-left: $length-s;

    &__handle {
      width: $length-xl;
      height: $length-xl;
      margin-right: $length-xxl;
      border-radius: $border-radius;
      background-color: $color-secondary-lighter;

      transition: none $transition-duration $transition-easing;
      transition-property: transform, background-color;
    }

    &--checked {
      & .checkbox {
        &__handle {
          transform: translate($length-xxl, 0);
          background-color: $color-primary-light;
        }
      }
    }
  }

  &--light {
    & .checkbox {
      background-color: $color-white;
    }
  }

  &--disabled {
    @include disable--light;
  }
}

.selectContainer {
  max-width: 100%;

  &--noPaddingBottom {
    padding-bottom: 0;

    & .menu {
      top: calc(100% + #{$focus-border-width});
    }
  }

  & .input {
    justify-content: space-between;
    cursor: pointer;

    @include focus(
      $color-primary-light,
      var(--input-focus-background-color, $color-white),
      null,
      null,
      null
    );

    & .dropdownIcon {
      color: $color-primary;
      width: $length-m;
      height: $length-m;
    }
  }

  & .menu {
    position: absolute;
    right: 0;
    top: calc(100% + #{$focus-border-width});
    display: none;
    background-color: $color-white;
    box-shadow: 0 0 0 $focus-border-width $color-primary-light;
    border-radius: $border-radius;
    z-index: 10;
    width: 100%;

    &--open {
      display: flex;
      flex-direction: column;

      & button {
        &:focus,
        &:focus-visible {
          border-color: transparent !important;

          &:not(:focus-visible) {
            border-color: $color-secondary-lighter;
          }
        }
      }
    }

    &--noPaddingBottom {
      top: calc(100% + #{$focus-border-width});
    }

    & li {
      &:not(:last-child) {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          height: 2px;
          left: $length-s;
          right: $length-s;
          background-color: $color-secondary-lighter;
          z-index: -1;
        }
      }
    }

    & a,
    & button {
      display: block;
      padding: $length-s;
      width: 100%;
      text-align: left;
      font-weight: bold;
      font-size: $font-size-s;
      color: rgba($color: $color-secondary-darkest, $alpha: 0.7);
      cursor: pointer;
      border-radius: $border-radius;

      @include focus(
        var(--button-focus-color, $color-primary-light),
        var(--button-background-color, $color-white),
        $border-radius-l,
        true,
        true,
        true
      );
    }
  }
}

.dateContainer {
  display: flex;
  align-items: center;
  position: relative;

  & .input {
    cursor: pointer;

    &--withCalendarIcon {
      padding-left: $spacing-xxs;
    }

    &--withClearButton {
      padding-right: $length-xxl + $length-m;
    }
  }

  & .calendarIcon {
    position: absolute;
    width: $length-l;
    height: $length-l;
    color: $color-secondary-dark;
    left: $length-m;
    pointer-events: none;
  }

  & .closeButton {
    position: absolute;
    right: $length-xs;
    cursor: pointer;
    min-height: 0;
  }
}

*:disabled {
  & .toggleContainer {
    @include disable--light;
  }
}
