.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: $font-size-s + $length-xs;
  padding-bottom: $font-size-s + $length-xs;

  .label {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: $font-size-s;
    font-weight: bold;
    color: $color-secondary-darker;

    top: 0;
    left: 0;

    &__left {
      display: flex;
      align-items: flex-end;
    }
  }

  .input {
    border: none;
    padding: $length-s $length-m;
    font-size: $font-size-s;
    border-radius: $border-radius;
    min-height: $input-min-height;
    font-weight: bold;
    background-color: $color-secondary-lightest;
    color: $color-secondary-darkest;

    &::placeholder {
      font-weight: bold;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 $focus-border-width $color-secondary-lightest-t;
    }

    &--dark {
      background-color: $color-secondary-dark;
      color: $color-secondary-lightest;
    }
  }

  .error {
    font-size: $font-size-s;
    color: $color-primary-dark;
    font-weight: bold;
    margin-top: $length-xs;
  }

  &--light {
    .input {
      background-color: $color-white;
    }
  }

  &--dark {
    .input {
      background-color: $color-secondary-dark;
      color: $color-secondary-lightest;
    }
  }

  &--toggle {
    padding-top: 0;
  }
}

.dateInput {
  display: flex;
  &__date {
    display: flex;
    border: none;
    margin-right: auto;
  }

  &__time {
    display: flex;
    border: none;
  }
}

.sliderContainer {
  & .label {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__right {
      color: $color-primary;
    }
  }
}

.toggleContainer {
  & .label {
    position: unset;
    display: flex;
    justify-content: space-between;
  }

  & .hiddenCheckbox {
    display: none;
  }

  & .checkbox {
    border-radius: $border-radius;
    background-color: $color-secondary-lightest;
    padding: $length-xxs;

    &__handle {
      width: $length-xl;
      height: $length-xl;
      margin-right: $length-xxl;
      border-radius: $border-radius;
      background-color: $color-secondary-lighter;

      transition: none $transition-duration $transition-easing;
      transition-property: margin, background-color;
    }

    &--checked {
      & .checkbox {
        &__handle {
          margin-right: 0;
          margin-left: $length-xxl;
          background-color: $color-primary-light;
        }
      }
    }
  }

  &--light {
    & .checkbox {
      background-color: $color-white;
    }
  }
}
