div.page {
  padding-top: $spacing-xl;

  & * {
    text-align: center;
  }

  & h2 {
    margin-bottom: $length-xl;
  }

  & .registerButton {
    margin: 0 auto;
  }
}

.content {
  & > * {
    &:not(:last-child) {
      margin-bottom: $spacing-xl;
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
  height: fit-content;
  max-width: 75vw;
  color: $color-primary;
  margin: 0 auto $spacing-xxs;

  & > * {
    max-height: $spacing-m;
    width: 100%;
  }
}

.pageTitle {
  font-size: $font-size-xl;
  margin-bottom: $spacing-m;
}

.intro {
  font-size: $font-size-xl;
}

.ctaTitle {
  font-size: $font-size-xl;
  margin-bottom: $spacing-xxs;
}

@media (max-width: $breakpoint-l) {
  .intro {
    font-size: $font-size-l;
  }
}

@media (max-width: $breakpoint-m) {
  div.page {
    padding-top: $spacing-m;
  }

  .content {
    & > * {
      &:not(:last-child) {
        margin-bottom: $spacing-m;
      }
    }
  }
}
