.page {
  & h2 {
    margin-bottom: $length-xl;
    margin-top: $spacing-xxs;
  }

  & p {
    &:not(:last-child) {
      margin-bottom: $length-xl;
    }
  }

  & ul {
    list-style: inside;
    margin-bottom: $length-xl;

    & li {
      &:not(:last-child) {
        margin-bottom: $length-s;
      }
    }
  }
}

.cookieForm {
  margin-top: $spacing-m;
}
