a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;

  @include focus(
    var(--button-focus-color, $color-primary-light),
    var(--button-background-color, $color-white),
    var(--button-radius, $border-radius-s)
  );
  @include disabled--light;

  &:hover {
    filter: opacity(0.8);
  }
}

button,
.button {
  --button-radius: #{$border-radius-l};

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  border: none;
  border-radius: var(--button-radius);
  padding: $length-m;
  font-size: $font-size-m;
  font-weight: bold;
  min-height: $input-min-height;
  max-width: 100%;
  width: 180px;
  cursor: pointer;
  color: inherit;
  text-align: center;

  @include focus(
    var(--button-focus-color, $color-primary-light),
    var(--button-background-color, $color-white),
    var(--button-radius),
    true
  );
  @include disabled--light;

  &:hover {
    filter: opacity(0.8);
  }

  &--unstyled {
    background-color: inherit;
    border: inherit;
    border-radius: inherit;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    min-height: 0;
    min-width: 0;
    width: fit-content;
    cursor: inherit;
  }

  &--danger {
    --button-color: #{$color-danger} !important;
    --button-focus-color: #{$color-danger};
  }

  &--lightest {
    --button-color: #{$color-secondary-lightest} !important;
  }

  &--lighter {
    --button-color: #{$color-secondary-lighter} !important;
  }

  &--dark {
    --button-color: #{$color-secondary-darker} !important;
  }

  &--darkest {
    --button-color: #{$color-secondary-darkest} !important;
  }

  &--primary {
    color: $color-secondary-darkest;
  }

  &--primary-color {
    color: var(--button-color);
  }

  &--mini {
    --button-radius: #{$border-radius};

    padding: $length-xs $length-xs $length-xxs * 1.5;
    min-height: 0;
    height: fit-content;
    min-width: 0;
    width: fit-content;
    font-size: $font-size-s;
  }

  &--fit {
    min-width: 0;
    width: fit-content;
  }

  &--text {
    --button-radius: #{$border-radius};

    padding: 0 $length-xxs;
    min-height: fit-content;
    background-color: transparent;
    width: fit-content;
  }

  &--icon {
    --button-color: #{$color-secondary-darker};

    min-width: 0;
    width: initial;
    background-color: rgba($color: $color-secondary-darkest, $alpha: 0);
    padding: 0.5rem;
    fill: var(--button-color);

    @include focus(
      var(--button-focus-color, $color-primary-light),
      var(--button-background-color, $color-white),
      var(--button-radius),
      true,
      null
    );

    & > svg {
      fill: inherit;
    }

    &:hover {
      background-color: rgba($color: $color-secondary-darkest, $alpha: 0.1);
    }
  }

  &--ghost {
    background-color: transparent;
    border: $button-border-width solid $color-primary-light;
    border-color: var(--button-color);
    color: var(--button-color);
  }

  &--hover-light {
    &:hover {
      background-color: rgba($color: $color-secondary-dark, $alpha: 0.2);
    }
  }

  &--noMinHeight {
    min-height: 0;
  }

  &--disabled {
    @include disable;
  }

  @include disabled;
}
