a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

button,
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  border: none;
  border-radius: $border-radius-l;
  padding: $length-m;
  font-size: $font-size-m;
  font-weight: bold;
  min-height: $input-min-height;
  max-width: 100%;
  width: 180px;
  cursor: pointer;
  color: inherit;
  text-align: center;

  &--unstyled {
    background-color: inherit;
    border: inherit;
    border-radius: inherit;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    min-height: 0;
    min-width: 0;
    width: fit-content;
    cursor: inherit;
  }

  &--danger {
    --button-color: #{$color-danger} !important;
  }

  &--lightest {
    --button-color: #{$color-secondary-lightest} !important;
  }

  &--lighter {
    --button-color: #{$color-secondary-lighter} !important;
  }

  &--dark {
    --button-color: #{$color-secondary-darker} !important;
  }

  &--darkest {
    --button-color: #{$color-secondary-darkest} !important;
  }

  &--primary {
    color: $color-secondary-darkest;
  }

  &--primary-color {
    color: var(--button-color);
  }

  &--mini {
    padding: $length-xs $length-xs $length-xxs * 1.5;
    min-height: 0;
    height: fit-content;
    min-width: 0;
    width: fit-content;
    font-size: $font-size-s;
    border-radius: $border-radius;
  }

  &--fit {
    min-width: 0;
    width: fit-content;
  }

  &--text {
    padding: 0 $length-xxs;
    min-height: fit-content;
    background-color: transparent;
    width: fit-content;
  }

  &--icon {
    --button-color: #{$color-secondary-darker};

    min-width: 0;
    width: initial;
    background-color: rgba($color: $color-secondary-darkest, $alpha: 0);
    padding: 0.5rem;
    fill: var(--button-color);

    & > svg {
      fill: inherit;
    }

    &:hover {
      background-color: rgba($color: $color-secondary-darkest, $alpha: 0.1);
    }
  }

  &--ghost {
    background-color: transparent;
    border: $button-border-width solid $color-primary-light;
    border-color: var(--button-color);
    color: var(--button-color);
  }

  &--hover-light {
    &:hover,
    &:focus {
      background-color: rgba($color: $color-secondary-dark, $alpha: 0.2);
    }
  }

  &--noMinHeight {
    min-height: 0;
  }

  @include disabled;
}
