* {
  --scrollbar-track-color: #{$color-secondary-darkest};
  --scrollbar-thumb-color-inactive: #{$color-secondary-darker};
  --scrollbar-thumb-color: #{$color-secondary-dark};

  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color-inactive)
    var(--scrollbar-track-color);

  &::-webkit-scrollbar {
    width: $length-s;

    &-track {
      background-color: var(--scrollbar-track-color);
      border-radius: $border-radius;
    }

    &-thumb {
      background-color: var(--scrollbar-thumb-color-inactive);
      border-radius: $border-radius;

      &:hover {
        background-color: var(--scrollbar-thumb-color);
      }
    }
  }
}

.scrollbars--light {
  & * {
    --scrollbar-track-color: #{$color-white};
    --scrollbar-thumb-color-inactive: #{$color-secondary-lighter};
    --scrollbar-thumb-color: #{$color-secondary-dark};
  }
}
