$color-primary-dark: #914400;
$color-primary: #ff7700;
$color-primary-light: #ff9940;

$color-danger: #ff4040;

$color-black: #000;
$color-secondary-darkest: #202020;
// $color-secondary-darkest-t: #21212180;
$color-secondary-dark: #3a3d3c;
$color-secondary-darker: #747a78;
// $color-secondary-dark-t: #3a3d3c56;
$color-secondary-lighter: #dedede;
$color-secondary-lightest: #f2f2f2;
$color-secondary-lightest-t: #f2f2f23f;
$color-white: #fff;

$length-xxs: 0.25rem; // 4px
$length-xs: 0.5rem; // 8px
$length-s: 0.75rem; // 12px
$length-m: 1rem; // 16px
$length-l: 1.25rem; // 20px
$length-xl: 1.5rem; // 24px
$length-xxl: 2rem; // 32px

$spacing-xxs: 3rem; //48px
$spacing-m: 6.25rem; //100px

// $container-width: 1080px;
$container-width: 1200px;
$container-width-xl: 1600px;

$input-min-height: 2.5rem; // 40px

$font-size-xs: 0.5rem; // 8px
$font-size-s: 0.75rem; // 12px
$font-size-m: 1rem; // 16px
$font-size-l: 1.25rem; // 20px
$font-size-xl: 1.5rem; // 24px

$line-height-s: 1.25rem; // 20px

$page-header-margin: 0 0 100px 0;

$button-border-width: 2px;
$focus-border-width: 3px;
$border-radius-s: 2px;
$border-radius: 4px;
$border-radius-l: 8px;

$transition-duration: 200ms;
$transition-easing: ease-out;
