$color-primary-dark:#914400;
$color-primary: #ff7700;
$color-primary-light:#ff9940;

$color-black: #000;
$color-secondary-darkest: #202020;
$color-secondary-dark: #3a3d3c;
// $color-secondary-dark-t: #3a3d3c56;
$color-secondary-lightest: #f2f2f2;
$color-secondary-lightest-t: #f2f2f23f;


$length-xxs: .25rem; // 4px
$length-xs: .5rem; // 8px
$length-s: .75rem; // 12px
$length-m: 1rem; // 16px
$length-l: 1.25rem; // 20px
$length-xl: 1.5rem; // 24px
$length-xxl: 2rem; // 32px

$input-min-height: 2.5rem; // 40px

$font-size-xs: .5rem; // 8px
$font-size-s: .75rem; // 12px
$font-size-m: 1rem; // 16px

$line-height-s: 1.25rem; // 20px

$focus-border-width: 3px;
$border-radius: 4px;