.page {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.pageError {
  flex-direction: column;
  align-items: center;

  justify-content: center;

  & > * {
    margin-bottom: $length-xxl;
  }
}

.showStream {
  --button-background-color: #{$color-secondary-darkest};

  flex: 1;
  position: relative;
  background-color: $color-secondary-darkest;
  color: $color-secondary-lightest;
}

@media (max-width: $breakpoint-l) {
  .page {
    flex-direction: column;
  }

  .showStream {
    flex: unset;
    height: $stream-height-mobile;
    min-height: $stream-height-mobile;
  }
}
